header {
    padding: 24px;
}

#linha-formulario {
    background-color: black;
    color: #fff;
}




#form-1 {
    background-color: rgb(120, 115, 114);
    color: #fff;
}

#form-2 {
    background-color: blanchedalmond;
}